*{ 
    box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 60px;
  background: #eee;
  font-size: 16px;
  transition: 0.5s;

 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ul li:nth-child(odd) {
  background: #5bc5f0;
}


ul li:hover {
  background: #ddd;
}


ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 3px 3px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 16px;
  width: 6px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 13px 17px 13px 17px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


.header {
  background-color:rgb(105, 255, 130) ;
  padding: 30px 40px;
  color: white;
  text-align: center;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


.addBtn {
  padding: 10px;
  width: 20%;
  background: #d9d9d9;
  color: rgb(155, 148, 194);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
